body{
    color: rgb(61, 21, 36);
    background-color: rgb(134, 3, 3);
    font-size: 20px;
    font-family: sans-serif;
    font-size: 33px;
}         
header{
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

footer{
    text-align: center       ; 
}
    
.imagem{
    text-align: center;
}
.botao{
    border-radius: 20px;    
}